﻿@{
    ViewData["Title"] = "Create Forum";
}

@using LearnSoftware.ViewModels.Forums
@model CreateForumViewModel

<hr />
<div class="col-sm-offset-3">
    @Html.ValidationSummary()
</div>
<form asp-area="Information" asp-controller="Forums" asp-action="Create" method="post">
    <div class="row center-items form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input type="hidden" asp-for="Id">
            <label for="Forum Name"></label>
            <input class="form-control" placeholder="Forum Name" type="text" asp-for="Name">
        </div>
    </div>
    <div class="row center-items form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <label for="Comment"></label>
            <textarea class="form-control" rows="5" placeholder="Comment" asp-for="FirstComment"></textarea>
        </div>
    </div>
    <div class="row center-items form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input style="margin-top: 20px" class="form-control btn btn-primary" type="submit" value="Create Forum" />
        </div>
    </div>
</form>