﻿@using LearnSoftware.ViewModels.Forums
@model ForumViewModel

@{
    ViewData["Title"] = Model.Name;
}
<hr />

@if (this.User.Identity.Name == Model.CreatorUsername && Model.IsActive)
{
    <div class="row">
        <div class="col-sm-offset-5 col-sm-2">
            <a align="left" class="btn btn-primary" asp-area="Information" asp-controller="Forums" asp-action="DeactivateForum" asp-route-forumId="@Model.Id" asp-route-page="@Model.CurrentPage">Deactivate Forum</a>
        </div>
    </div>
    <hr />
}
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                <h2 align="center">@Model.Name</h2>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>
                    @if (message.CommenterUsername == this.User.Identity.Name && Model.IsActive)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <a align="left" class="btn btn-primary" asp-area="Information" asp-controller="ForumMessages" asp-action="Edit" asp-route-forumMessageId="@message.Id" asp-route-page="@Model.CurrentPage">Edit</a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 align="center">@message.Message</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a align="left" asp-area="Identity" asp-controller="Users" asp-action="UserProfile" asp-route-username="@message.CommenterUsername"><h6>@message.CommenterUsername</h6></a>
                            <h6 align="left">Updated at: @message.UpdateDate</h6>
                            <h6 align="left">Created at: @message.CreationDate</h6>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsActive)
{
    @Html.ValidationSummary()

    <form asp-area="Information" asp-controller="ForumMessages" asp-action="Create" method="post">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="IsActive">
        <input type="hidden" asp-for="MinPage">
        <input type="hidden" asp-for="MaxPage">
        <input type="hidden" asp-for="CurrentPage">
        <input type="hidden" asp-for="Name">
        <input type="hidden" asp-for="Messages">
        <input type="hidden" asp-for="CreationDate">
        <input type="hidden" asp-for="UpdateDate">
        <input type="hidden" asp-for="CreatorUsername">
        <div class="row form-group">
            <div class="col-sm-12">
                <textarea class="form-control" rows="5" placeholder="Comment" asp-for="NewComment"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <input class="form-control btn-primary" type="submit" value="Post Comment" />
            </div>
        </div>

    </form>
}
else
{
    <p class="text-primary" align="center">This topic is closed.</p>
}

<div class="center-text">
        @for (int i = Model.MinPage; i < Model.MaxPage; i++)
        {
            <a class="btn btn-primary margin-top-10" asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-page="@i" asp-route-id="@Model.Id">@i</a>
        }
</div>
