﻿@using LearnSoftware.ViewModels.ForumCategories
@model ForumCategoryIndexViewModel

@{
    ViewData["Title"] = Model.ForumCategoryName;
}
<hr />
<div class="row">
    <form asp-area="Information" asp-controller="Forums" asp-action="Index" method="Get">
        <div class="col-sm-3 form-group">
            <input placeholder="Search..." class="form-control" type="text" name="search" />
            <input type="hidden" name="forumCategoryId" value="@Model.Id" />
            <input type="hidden" name="page" value="@Model.CurrentPage" />
        </div>
        <div class="col-sm-2 form-group">
            <input class="form-control btn-primary" type="submit" value="Search">
        </div>
    </form>
    <div class="col-sm-offset-5 col-sm-2 form-group">
        <a align="center" class="form-control btn-primary" asp-area="Information" asp-controller="Forums" asp-action="Create" asp-route-forumCategoryId="@Model.Id">Create Forum</a>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                <div class="truncate-large center-items">
                    <h2 align="center">@Model.ForumCategoryName</h2>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in Model.Forums)
        {
            <tr>
                <td>
                    
                    <a align="center" asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-id="@forum.Id"><h3>@forum.Name</h3></a>
                    <p align="center">Created by: <a align="center" asp-area="Identity" asp-controller="Users" asp-action="UserProfile" asp-route-username="@forum.CreatorUsername">@forum.CreatorUsername</a></p>
                    <p align="center">Created on: @forum.CreatedOn</p>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center-text">
    @for (int i = Model.MinPage; i < Model.MaxPage; i++)
    {
        <a class="margin-top-10 btn btn-primary" asp-area="Information" asp-controller="Forums" asp-action="Index" asp-route-forumCategoryId="@Model.Id" asp-route-search="@Model.Search" asp-route-page="@i">@i</a>
    }
</div>
