﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 align="center" class="text-danger">@ViewData["Title"]</h1>
    <p align="center" class="text-danger">You do not have access to this resource.</p>
</header>
