﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 align="center" class="text-primary">@ViewData["Title"]</h2>
<p align="center" class="text-primary">
    Please check your email to reset your password.
</p>

