﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2 align="center" class="text-primary">@ViewData["Title"]</h2>
<div class="row">
    
    <div class="col-md-6 col-sm-offset-3">
        <section>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 form-group">
                    @Html.ValidationSummary()
                </div>
            </div>
            <form method="post">
                <h4 align="center" class="text-primary">Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label class="text-primary" asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control center-text" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-primary" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control center-text" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <a class="form-control btn-primary" align="center" asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <div class="form-group">
                    <a class="form-control btn-primary" align="center" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
