﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 align="center" class="text-primary">@ViewData["Title"]</h2>

<div class="row">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="col-md-6 col-sm-offset-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 align="center" class="text-primary">Create a new account.</h4>
            <hr />
            <div class="form-group">
                <label class="text-primary" asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-primary" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-primary" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-primary" asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
