﻿.truncate {
    overflow: hidden;
    width: 200px;
    word-break: break-all;
    white-space: normal;
}

.margin-top-10 {
    margin-top: 10px
}

.a.hover-white:hover {
    color: white;
}

.truncate-large {
    overflow: hidden;
    width: 80%;
    max-width: 80%;
    word-break: break-all;
    white-space: normal;
}

.truncate-large-100 {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    word-break: break-all;
    white-space: normal;
}

.center-text {
    width: 100%;
    text-align: center;
}

.center-items {
    margin: 0 auto;
}
.truncate-text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}