﻿@if (this.User.IsInRole("Admin"))
{
    <form asp-area="Information" asp-controller="ForumCategories" asp-action="Create" method="post">
        <div class="row">
            <div class="col-sm-12 form-group">
                <input class="form-control" placeholder="Category Name" type="text" name="name" id="name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <input class="form-control btn btn-primary" type="submit" value="Create Category" />
            </div>
        </div>
    </form>
}