﻿@{
    ViewData["Title"] = "Forum Categories";
}

@using LearnSoftware.ViewModels.ForumCategories
@model ForumCategoryIndexContainerViewModel

<hr />
<div class="row">
    <div class="col-sm-3">
        <partial name="_CreateForumCategoryPartial" />
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr><th><h4 align="center">Forum Categories</h4></th></tr>
            </thead>
            <tbody>
                @foreach (var category in Model.ForumCategories)
                {
                <tr>
                    <td>
                        <div class="center-items truncate">
                            <a asp-area="Information" asp-controller="Forums" asp-action="Index" asp-route-forumCategoryId="@category.Id"><h5 class="truncate-text" align="center">@category.Name</h5></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-9 center-items">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        <h2 align="center">Newest Forums</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forum in Model.ForumCategoryViewModel.Forums)
                {
                    <tr>
                        <td>
                            <a asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-id="@forum.Id"><h3 align="center">@forum.Name</h3></a>
                            <h5 align="center">Created by: <a asp-area="Identity" asp-controller="Users" asp-action="UserProfile" asp-route-username="@forum.CreatorUsername">@forum.CreatorUsername</a></h5>
                            <h5 align="center">Created on: @forum.CreatedOn</h5>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="center-text">
            @for (int i = Model.ForumCategoryViewModel.MinPage; i <= Model.ForumCategoryViewModel.MaxPage; i++)
            {
                <a class="btn btn-primary margin-top-10" asp-area="Information" asp-controller="ForumCategories" asp-action="Index" asp-route-page="@i" asp-route-search="@Model.ForumCategoryViewModel.Search">@i</a>
            }
        </div>
    </div>
</div>
