﻿@using Microsoft.AspNetCore.Identity
@using LearnSoftware.Areas.Identity.Data

@inject SignInManager<LSIdentityUser> SignInManager
@inject UserManager<LSIdentityUser> UserManager

<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-area="Learn" asp-controller="Courses" asp-action="Index" asp-route-inProgress="true">Courses In Progress</a></li>
        <li><a asp-area="Learn" asp-controller="Courses" asp-action="Index" asp-route-purchased="true">Purchased Courses</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    }

    <li><a asp-area="Learn" asp-controller="Courses" asp-action="Index">Courses</a></li>
    <li><a asp-area="Information" asp-controller="ForumCategories" asp-action="Index">Forum</a></li>
</ul>
