﻿@using LearnSoftware.ViewModels.Messges
@model MessageViewModel

@{
    ViewData["Title"] = "Edit Message";
}

<form asp-area="Information" asp-controller="ForumMessages" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="CurrentPage">
    <div class="row form-group">
        <div class="col-sm-12">
            <textarea class="form-control" rows="5" placeholder="Comment" asp-for="Message"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            <input class="form-control btn-primary" type="submit" value="Edit Comment" />
        </div>
    </div>
</form>

