﻿@using LearnSoftware.ViewModels
@model UserMakeAdminViewModel

@{
    ViewData["Title"] = "Make User Admin";
}
<hr />
<h2 class="text-primary" align="center">Admin Authentication</h2>
<hr />
<div class="jumbotron">
    <h3 class="text-primary" align="center">We need to confirm that this is really you.</h3>
    <hr />
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <section>
                <form asp-area="Identity" asp-controller="Users" asp-action="MakeAdmin" method="post">
                    <div class="form-group">
                        <input class="form-control" type="hidden" asp-for="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control center-text" placeholder="Admin Username" type="text" asp-for="AdminUsername">
                    </div>
                    <div class="form-group">
                        <input class="form-control center-text" placeholder="Admin Password" type="password" asp-for="AdminPassword">
                    </div>
                    <div class="form-group">
                        <input class="form-control btn-primary" type="submit" value="Authenticate" />
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
