﻿@using LearnSoftware.ViewModels
@model UserUserProfileViewModel

@{
    ViewData["Title"] = Model.UserName;
}

<h1 class="text-primary" align="center">@Model.UserName</h1>
<hr />
@if (this.User.IsInRole("Admin") && !this.Model.IsAdmin)
{
    <div class="center-items center-text">
        <a class="btn btn-primary" asp-area="Identity" asp-controller="Users" asp-action="MakeAdmin" asp-route-username="@Model.UserName">Make @Model.UserName Admin</a>
    </div>
    <hr />
}
<h2 class="text-primary" align="center">Statistics:</h2>

@if (this.User.Identity.Name == Model.UserName)
{
    <h3 class="text-primary" align="center">Your triumphs.</h3>
}
<h4 align="center">Successful submissions: @Model.ResultSuccessCount</h4>

@if (this.User.Identity.Name == Model.UserName)
{
    <h3 class="text-primary" align="center">The failiures that will make you thrive.</h3>
}
<h4 align="center">Failed submissions: @Model.ResultFailedCount</h4>

@if (this.User.Identity.Name == Model.UserName)
{
    <h3 class="text-primary" align="center">Your attempts.</h3>
}
<h4 align="center">Total submissions: @Model.ResultTotalCount</h4>
<hr />
<div class="row">
    <div class="col-sm-4">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        <h4 align="center">Viewed Courses</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.ViewedCourses)
                {
                    <tr>
                        <td>
                            <div class="row center-items truncate">
                                <a asp-area="Learn" asp-controller="Courses" asp-action="Course" asp-route-id="@course.Key"><p class="truncate-text" align="center">@course.Value</p></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        <h4 align="center">Created Forums</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forum in Model.CreatedForums)
                {
                    <tr>
                        <td>
                            <div class="row center-items truncate">
                                <a asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-id="@forum.Key"><p class="truncate-text" align="center">@forum.Value</p></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr>
                    <th>
                        <h4 align="center">Comments</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model.ForumMessages)
                {
                    <tr>
                        <td>
                            <div class="row center-items truncate">
                                <a asp-area="Information" asp-controller="Forums" asp-action="RedirectToForum" asp-route-forumMessageId="@message.Key"><p class="truncate-text" align="center">@message.Value</p></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
