﻿@using LearnSoftware.ViewModels.Exercises
@model ExerciseCreateViewModel

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Name">Exercise Name *</label>
        <input class="form-control" placeholder="Lecture Name" type="text" asp-for="Name">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Description">Description *</label>
        <textarea class="form-control" rows="7" placeholder="Description" type="text" asp-for="Description"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="ExampleInput1">Example Input *</label>
        <textarea class="form-control" rows="7" placeholder="Example Input" type="text" asp-for="ExampleInput1"></textarea>
   </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="ExampleOutput1">Example Output *</label>
        <textarea class="form-control" rows="7" placeholder="Example Output" type="text" asp-for="ExampleOutput1"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="ExampleInput2">Example Input</label>
        <textarea class="form-control" rows="7" placeholder="Example Input" type="text" asp-for="ExampleInput2"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="ExampleOutput2">Example Output</label>
        <textarea class="form-control" rows="7" placeholder="Example Output" type="text" asp-for="ExampleOutput2"></textarea>
    </div>
</div>
