﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using LearnSoftware.Areas.Learn.ViewModels.Exercises
@model CreateExerciseViewModel

<input type="hidden" asp-for="Name">
<input type="hidden" asp-for="Description">
<input type="hidden" asp-for="ExampleInput1">
<input type="hidden" asp-for="ExampleOutput1">
<input type="hidden" asp-for="ExampleInput2">
<input type="hidden" asp-for="ExampleOutput2">
<input type="hidden" asp-for="LectureId" value="@Model.LectureId" />