﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
            function refreshRequest(id) {
                $.ajax({
                    url: '@Url.Action("Refresh", "Exercises")',
                    data: { exerciseId : id },
                    type: "GET",
                    success: function (result) {
                        $("#partial").html(result);
                    }
                });
            }
</script>