﻿@using LearnSoftware.ViewModels.Exercises
@model ExerciseExerciseViewModel

<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                <h4 align="center" class="text-white">Test Results</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            bool begining = true;
            int count = 0;
        }
        @foreach (var testResult in Model.ExerciseTestResults)
        {
            @if (count >= Model.ExerciseTestCount || begining)
            {
                begining = false;
                count = 0;
                <tr>
                    <td class="bg-dark">
                        @if (testResult.Result == "Fail")
                        {
                            <h4 align="center" class="text-danger"><strong>Submission number @testResult.Id  result: @testResult.Result</strong></h4>
                        }
                        else if (testResult.Result == "Not Ran")
                        {
                            <h4 align="center" class="text-warning"><strong>Submission number @testResult.Id  result: @testResult.Result</strong></h4>
                        }
                        else
                        {
                            <h4 align="center" class="text-success"><strong>Submission number @testResult.Id  result: @testResult.Result</strong></h4>
                        }
                    </td>
                </tr>
            }
            @if (testResult.Result == "Fail")
            {
                <tr>
                    <td>
                        @if (!String.IsNullOrEmpty(testResult.Message))
                        {
                            <h6 class="text-dark" align="center"><strong>Exception Message:</strong> @testResult.Message</h6>
                        }
                        else
                        {
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>
                                            <h6 class="text-white" align="center">Line</h6>
                                        </th>
                                        <th>
                                            <h6 class="text-white" align="center">Expected Result</h6>
                                        </th>
                                        <th>
                                            <h6 class="text-white" align="center">Actual Result</h6>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in testResult.TestResultLines)
                                    {
                                        @if (line.Match == "Yes")
                                        {
                                            <tr>
                                                <td class="bg-white">
                                                    <h6 align="center"><span>@line.Number</span></h6>
                                                </td>
                                                <td class="bg-white">
                                                    <h6 align="center">"<span class="bg-success">@line.ExpectedResult</span>"</h6>
                                                </td>
                                                <td class="bg-white">
                                                    <h6 align="center">"<span class="bg-success">@line.ActualResult</span>"</h6>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="bg-white">
                                                    <h6 align="center"><span>@line.Number</span></h6>
                                                </td>
                                                <td class="bg-white">
                                                    <h6 align="center">"<span class="text-dark bg-success">@line.ExpectedResult</span>"</h6>
                                                </td>
                                                <td class="bg-white">
                                                    <h6 align="center">"<span class="text-dark bg-danger">@line.ActualResult</span>"</h6>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            }
            { count++; }

        }
    </tbody>
</table>
<div class="center-text">
    @for (int i = Model.MinPage; i < Model.MaxPage; i++)
    {
        <a class="margin-top-10 btn btn-primary" asp-area="Learn" asp-controller="Exercises" asp-action="Exercise" asp-route-forumCategoryId="@Model.Id" asp-route-page="@i">@i</a>
    }
</div>
