﻿@{
    ViewData["Title"] = "Add Exercise";
}

@using LearnSoftware.ViewModels.Exercises
@model ExerciseCreateViewModel

<hr />
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        @Html.ValidationSummary()
    </div>
</div>

<form method="post">
    <partial name="_CreateEditFieldsExercisesPartialView" />
    <input type="hidden" asp-for="LectureId" value="@Model.LectureId" />

    @for (int i = 0; i < Model.TestLines.Count; i++)
    {
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 form-group">
                <label class="text-primary">Test Expected Output Lines @(i + 1) *</label>
                <textarea class="form-control" rows="7" placeholder="Test Input Lines" type="text" asp-for="@Model.TestLines[i].TestInputLines"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 form-group">
                <label class="text-primary">Test Expected Output Lines @( i + 1) *</label>
                <textarea class="form-control" rows="7" placeholder="Test Expected Output Lines" type="text" asp-for="@Model.TestLines[i].TestExpectedOutputLines"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 form-group">
                <button class="form-control btn-primary" asp-area="Learn" asp-action="RemoveTest" asp-controller="Exercises" asp-route-index="@i">Remove Test</button>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <label class="text-primary" for="TestInputLines">Test Input Lines</label>
            <textarea class="form-control" placeholder="Test Input Lines" rows="7" asp-for="CurrentTestLines.TestInputLines"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <label class="text-primary" for="TestExpectedOutputLines">Test Expected Output Lines</label>
            <textarea id="tol" class="form-control" placeholder="Test Expected Output Lines" rows="7" asp-for="CurrentTestLines.TestExpectedOutputLines"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <button class="form-control btn-primary" asp-area="Learn" asp-controller="Exercises" asp-action="AddTest">Add Test</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <button class="form-control btn-primary" asp-area="Learn" asp-action="Create" asp-controller="Exercises">Create</button>
        </div>
    </div>

</form>
<script type="text/javascript">
    $('#tol').val('');
    $('#til').val('');
</script>