﻿@{
    ViewData["Title"] = "Edit Exercise";
}
@using LearnSoftware.ViewModels.Exercises
@model ExerciseCreateViewModel

<hr />
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        @Html.ValidationSummary()
    </div>
</div>
<form method="post">
    <input type="hidden" asp-for="Id">
    <partial name="_CreateEditFieldsExercisesPartialView" />
    <h3 align="center" class="text-primary">Tests</h3>
    <hr />
    @for (int i = 0; i < Model.TestLines.Count; i++)
    {
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 form-group">
                    <label class="text-primary">Test Input Lines @(i + 1) *</label>
                    <textarea class="form-control" rows="7" placeholder="Test Input Lines" type="text" asp-for="@Model.TestLines[i].TestInputLines"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 form-group">
                    <label class="text-primary">Test Output Lines @(i + 1) *</label>
                    <textarea class="form-control" rows="7" placeholder="Test Expected Output Lines" type="text" asp-for="@Model.TestLines[i].TestExpectedOutputLines"></textarea>
                </div>
            </div>
        </div>
        <hr />
    }

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <button class="form-control btn-primary" asp-area="Learn" asp-action="Edit" asp-controller="Exercises">Edit</button>
        </div>
    </div>
</form>