﻿@{
    ViewData["Title"] = "Exercise";
    bool isUserSubscribed = (bool)ViewData["isUserSubscribed"];
}
@using LearnSoftware.ViewModels.Exercises
@model ExerciseExerciseViewModel
<hr />
@if (this.User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-sm-offset-5 col-sm-2 form-group">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Exercises" asp-action="Edit" asp-route-exerciseId="@Model.Id">Edit Exercise</a>
        </div>
    </div>
}
<div class="truncate-large center-items">
    <h2 align="center" class="text-primary">@Model.Name</h2>
</div>
<div class="jumbotron">
    <h3 align="center" class="text-primary">Condition:</h3>
    <div class="truncate-large center-items">
        <h4 align="center" class="text-primary">@Model.Description</h4>
    </div>
    <hr />
    <h4 align="center" class="text-primary">Example 1:</h4>
    <div class="truncate-large center-items">
        <table class="table table-bordered">
            <thead class="bg-dark">
                <tr>
                    <th>
                        <h6 class="text-white" align="center">Input Lines</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in @Model.ExampleInput1.Split(Environment.NewLine))
                {

                    <tr>
                        <td class="bg-white">
                            <h5 align="center">"<span class="text-white bg-primary">@line</span>"</h5>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead class="bg-dark">
                <tr>
                    <th>
                        <h6 class="text-white" align="center">Output Lines</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in @Model.ExampleOutput1.Split(Environment.NewLine))
                {

                    <tr>
                        <td class="bg-white">
                            <h5 align="center">"<span class="text-white bg-primary">@line</span>"</h5>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    @if (!String.IsNullOrEmpty(Model.ExampleInput2) && !String.IsNullOrEmpty(Model.ExampleOutput2))
    {
        <h4 align="center" class="text-primary">Example 2:</h4>
        <div class="truncate-large center-items">
            <table class="table table-bordered">
                <thead class="bg-dark">
                    <tr>
                        <th>
                            <h6 class="text-white" align="center">Input Lines</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in @Model.ExampleInput2.Split(Environment.NewLine))
                    {

                        <tr>
                            <td>
                                <h5 align="center">"<span class="text-white bg-primary">@line</span>"</h5>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead class="bg-dark">
                    <tr>
                        <th>
                            <h6 class="bg-primary text-white" align="center">Output Lines</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in @Model.ExampleOutput2.Split(Environment.NewLine))
                    {

                        <tr>
                            <td>
                                <h5 align="center">"<span class="text-white bg-primary">@line</span>"</h5>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    }
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="Name">
        <input type="hidden" asp-for="Description">
        <input type="hidden" asp-for="ExampleInput1">
        <input type="hidden" asp-for="ExampleOutput1">
        <input type="hidden" asp-for="ExampleInput2">
        <input type="hidden" asp-for="ExampleOutput2">
        <input type="hidden" asp-for="ExerciseTestResults">

        @if (isUserSubscribed || this.User.IsInRole("Admin") || Model.CourseType == CourseType.Free)
        {
            <div class="row">
                <div class="col-sm-offset-1 col-sm-6 form-group">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 form-group">
                    <textarea class="form-control" rows="20" asp-for="Code" value=""></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-2 form-group">
                    <button class="form-control btn-primary" asp-area="Learn" asp-action="SubmitCode" asp-controller="Exercises">Submit</button>
                </div>
                <div class="col-sm-2 form-group">
                    <button class="form-control btn-primary" id="refresh" onclick="javascript:refreshRequest('@Model.Id');">Refresh</button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 form-group">
                    <h4 align="center" class="text-primary">You need to purchase this course to view this exercise.</h4>
                    <button class="form-control btn-primary" asp-area="Payment" asp-action="Subscription" asp-controller="PurchaseCourse" method="post">Purchase Course</button>
                </div>
            </div>
        }
        @section RefreshScript
        {
            <partial name="_RefreshScriptPartial" />
        }
    </form>
</div>
<div id="partial">
    <partial name="_TestResultsPartial" />
</div>
