﻿@using LearnSoftware.ViewModels.Courses
@using LearnSoftware.Models.Learn
@model CourseCreateViewModel


<input type="hidden" asp-for="Id">
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Name">Course Name</label>
        <input class="form-control" placeholder="Course Name" type="text" asp-for="Name">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <select class="form-control" asp-for="CourseType" asp-items="Html.GetEnumSelectList<CourseType>()"></select>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Price">Price EUR</label>
        <input class="form-control" placeholder="Price EUR" type="text" asp-for="Price">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Description">Description</label>
        <textarea class="form-control" rows="7" placeholder="Description" type="text" asp-for="Description"></textarea>
    </div>
</div>
