﻿@{
    ViewData["Title"] = "Course";
}

@model LearnSoftware.ViewModels.Courses.CourseCourseViewModel

<hr />

@if (this.User.IsInRole("Admin"))
{
    <div class="row">
        <div class="form-group col-sm-offset-3 col-sm-2">
            @if (Model.IsActive)
            {
                <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Courses" asp-action="ChangeStatus" asp-route-courseId="@Model.Id">Deactivate Course</a>
            }
            else
            {
                <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Courses" asp-action="ChangeStatus" asp-route-courseId="@Model.Id">Activate Course</a>
            }
        </div>
        <div class="form-group col-sm-2">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Courses" asp-action="Edit" asp-route-courseId="@Model.Id">Edit Course</a>
        </div>
        <div class="form-group col-sm-2">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Lectures" asp-action="Create" asp-route-courseId="@Model.Id">Create Lecture</a>
        </div>
    </div>
}
<div class="truncate center-items center-text">
    <h2 align="center" class="text-primary">@Model.Name</h2>
</div>
@if (Model.CourseType != "Free")
{
    @if (Model.IsPurchased)
    {
        <h4 align="center" class="">Purchased</h4>
    }
    else
    {
        <h4 align="center" class="">@Model.CourseType</h4>
        <h4 align="center" class="">@Model.Price</h4>
        <div class="row">
            <div class="form-group col-sm-5"></div>
            <div class="form-group col-sm-2">
                <a align="center" class="form-control btn-primary" asp-area="Payment" asp-controller="Subscription" asp-action="PurchaseCourse" asp-route-id="@Model.Id">Purchase Course</a>
            </div>
        </div>
    }
}
else
{
    <h4 align="center" class="">@Model.CourseType</h4>
}
<h3 align="center" class="text-primary">Description:</h3>
<div class="jumbotron truncate center-items center-text">
    <h4 align="center" class="text-primary">@Model.Description</h4>
</div>
<hr />
<table class="table table-bordered table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                <div class="center-items">
                    <h3 class="center-text">Lectures</h3>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecture in Model.Lectures)
        {
            <tr>
                <td>
                    <div class="truncate-large center-items center-text">
                        <h4 class="text-primary" align="center"><a asp-area="Learn" asp-controller="Lectures" asp-action="Lecture" asp-route-id="@lecture.Id">@lecture.Name</a></h4>
                        <p class="text-primary" align="center">@lecture.LectureTextExplnation</p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

