﻿@using LearnSoftware.ViewModels.Courses
@model CourseCreateViewModel
@{
    ViewData["Title"] = "Edit Course";
}
<hr />
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        @Html.ValidationSummary()
    </div>
</div>
<form asp-area="Learn" asp-controller="Courses" asp-action="Edit" method="post">
    <partial name="_CreateEditFieldsPartialView" />
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <input class="form-control btn-primary" type="submit" value="Edit" />
        </div>
    </div>
</form> 