﻿@{
    ViewData["Title"] = "Courses";
}

@model LearnSoftware.ViewModels.Courses.CoursesIndexContainerViewModel

<hr />

<div class="row">
    <form asp-area="Learn" asp-controller="Courses" asp-action="Index" method="Get">
        <input type="hidden" name="inProgress" asp-for="InProgress"/>
        <input type="hidden" name="purchased"  asp-for="Purchased"/>
        <div class="col-sm-3 form-group">
            <input placeholder="Search..." class="form-control" type="text" name="courseName" />
        </div>
        <div class="col-sm-2 form-group">
            <input class="form-control btn-primary" type="submit" value="Search">
        </div>
    </form>

    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <div class="col-sm-offset-5 col-sm-2">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Courses" asp-action="Create">Create New Course</a>
        </div>
    }
</div>
<hr />
<div class="row">
    @foreach (var course in @Model.Courses)
    {
        <div class="col-sm-4 center-items">
            <div class="center-text truncate">
                <table class="table table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th>
                                <h3 align="center"><a class="text-white hover-white" asp-area="Learn" asp-controller="Courses" asp-action="Course" asp-route-id="@course.Id">@course.Name</a></h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @if (course.CourseType != "Free" && !course.IsPurchased)
                                {
                                    <h5 class="text-primary">@course.CourseType</h5>
                                    <h5 class="text-primary">@course.Price EUR</h5>
                                    <a align="center" class="form-control btn-primary" asp-area="Payment" asp-controller="Subscription" asp-action="PurchaseCourse" asp-route-id="@course.Id">Purchase Course</a>
                                }
                                else if (course.CourseType != "Free" && course.IsPurchased)
                                {
                                    <h5 class="text-primary">Purchased</h5>
                                }
                                else
                                {
                                    <h5 class="text-primary">@course.CourseType</h5>
                                }
                                <h5 class="text-primary">Lecture Count: @course.LectureCount</h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:90px;">
                                <p class="text-primary">@course.Description</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>