﻿@{
    ViewData["Title"] = "About";
}
<h2 align="center" class="text-primary">@ViewData["Title"]</h2>

<h3 align="center" class="text-primary">@ViewData["Message"]</h3>
<h3 align="center" class="text-primary">What does CES mean?</h3>
<p align="center" class="text-primary">CES means Code Evaluation System.</p>

<h3 align="center" class="text-primary">How it works?</h3>
<p align="center" class="text-primary">Copy your code, paste it in the provided field and submit. The result its self may take from seconds to minutes to appear after your submission depending on the current demand on CES.</p>
<h3 align="center" class="text-primary">How is the code evaluated?</h3>
<p align="center" class="text-primary">After your submission, CES executes you code and then compares the results from the execution to predetermined set of expected results.</p>