﻿@{
    ViewData["Title"] = "Home Page";
}
<hr />
<h1 class="text-primary" align="center">Welcome</h1>
<hr />
<div class="jumbotron">
    <h3 class="text-primary" align="center">Begin learning how to code with our free courses here on MainMethodAcademy.</h3>
</div>
<div class="jumbotron">
    <h2 class="text-primary" align="center">CES Will help you learn to code.</h2>
    <h4 align="center">To Learn more about CES <a asp-area="" asp-controller="Home" asp-action="About">click here</a></h4>
</div>
<div class="jumbotron">
    <h3 align="center">To start learning how to code, please <a asp-area="Identity" asp-page="/Account/Register">Register</a>.</h3>
    <h3 align="center">If you are already registered, please <a asp-area="Identity" asp-page="/Account/Login">Login</a>.</h3>
</div>
<hr />