﻿@using LearnSoftware.ViewModels.Home
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<hr />
    <div class="row">
        <div class="col-sm-3">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            <h3 align="center">Viewed Courses</h3>
                         </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.ViewedCourses)
                    {
                        <tr>
                            <td>
                                <div class="truncate center-items">
                                    <a asp-area="Learn" asp-controller="Courses" asp-action="Course" asp-route-id="@course.Key"><p class="truncate-text" align="center">@course.Value</p></a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
</div>
        <div class="col-sm-3">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            <h3 align="center">Newest Courses</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.NewestCourses)
                    {
                        <tr>
                            <td>
                                <div class="truncate center-items">
                                    <a asp-area="Learn" asp-controller="Courses" asp-action="Course" asp-route-id="@course.Key"><p class="truncate-text" align="center">@course.Value</p></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            <h3 align="center">Participated Forums</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.ParticipatedForums)
                    {
                        <tr>
                            <td>
                                <div class="truncate center-items">
                                    <a asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-id="@course.Key"><p class="truncate-text" align="center">@course.Value</p></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            <h3 align="center">Newest Forums</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.NewestForums)
                    {
                        <tr>
                            <td>
                                <div class="truncate center-items">
                                    <a asp-area="Information" asp-controller="Forums" asp-action="Forum" asp-route-id="@course.Key"><p class="truncate-text" align="center">@course.Value</p></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>