﻿@model LearnSoftware.ViewModels.Subscriptions.SubscriptionPrePaymentViewModel
@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h1 class="text-primary" align="center">Purchase @Model.CourseName</h1>
<hr />
@if (!Model.IsEmailVerified)
{
<form id="checkout" method="post" action="/Identity/Users/SendVerificationEmail">
    @Html.AntiForgeryToken()
    <input type="hidden" name="RedirectUrl" value="/Learn/Courses/Course/@Model.CourseId" />
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <h4 class="text-primary center-text">Please verify your email to be able to purchase the course.</h4>
            <h4 class="text-primary center-text">This is required in case you forget your password.</h4>
            <br />
            <input class="form-control center-text" placeholder="Email" type="email" value="@Model.Email">
            <br />
            <input class="form-control btn-primary" type="submit" value="Send Verification Email" />
        </div>
    </div>
</form>
}
else if (!Model.IsPurchased || String.IsNullOrEmpty(Model.TransactionId))
{
    <div class="jumbotron">
        <h2 class="text-primary" align="center">What do you get for @Model.Price EUR?</h2>
        <h3 class="text-primary" align="center">You recieve @Model.CourseName that contains @Model.LectureCount Lectures, approximately @Model.VideoTime Hours worth of video for the lectures and @Model.ExerciseCount Exercises.</h3>
        <p id="braintree-message" align="center" class=".text-danger">@Model.Message</p>
        <form id="checkout" method="post" action="/Payment/Subscription/PurchaseCourse">
            @Html.AntiForgeryToken()
            <div id="payment-form"></div>
            <input type="hidden" name="course_id" value="@Model.CourseId" />
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6 form-group">
                    <input class="form-control btn-primary" type="submit" value="Purchase Course" />
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="jumbotron">
        <h3 class="text-success" align="center">Successfully Purchased @Model.CourseName</h3>
        <h3 class="text-success" align="center">Please save this transaction number: @Model.TransactionId</h3>
    </div>

    <a align="center" class="form-control btn-primary" asp-area="Lecture" asp-controller="Courses" asp-action="Course" asp-route-id="@Model.CourseId">Go To Course</a>
}



