﻿@using LearnSoftware.ViewModels.Lectures
@model LectureCreateViewModel

<input type="hidden" asp-for="Id">
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="Name">Lecture Name</label>
        <input class="form-control" placeholder="Lecture Name" type="text" asp-for="Name">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="LectureVideoUrl">Video Url</label>
        <input class="form-control" placeholder="Lecture Video Url" type="text" asp-for="LectureVideoUrl">
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="LectureVideoLengthInMinutes">Video Lengh In Minutes</label>
        <input class="form-control" placeholder="Lecture Video Url" type="number" asp-for="LectureVideoLengthInMinutes">
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        <label class="text-primary" for="LectureTextExplnation">Text Explanation</label>
        <textarea class="form-control" rows="7" placeholder="Lecture Text Explnation" type="text" asp-for="LectureTextExplnation"></textarea>
    </div>
</div>
