﻿@{
    ViewData["Title"] = "Edit Lecture";
}

@using LearnSoftware.ViewModels.Lectures
@model LectureCreateViewModel

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 form-group">
        @Html.ValidationSummary()
    </div>
</div>

<form asp-area="Learn" asp-controller="Lectures" asp-action="Edit" method="post">
    <partial name="_CreateEditFieldsLecturesPartialView" />
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <input class="form-control btn-primary" type="submit" value="Edit" />
        </div>
    </div>
</form>