﻿@{
    ViewData["Title"] = "Lecture";
    bool isUserSubscribed = (bool)ViewData["IsUserSubscribed"];
}

@using LearnSoftware.ViewModels.Lectures
@model LectureLectureViewModel
<hr />
@if (this.User.IsInRole("Admin"))
{
    <div class="row">
        <div class="form group col-sm-offset-4 col-sm-2">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Exercises" asp-action="Create" asp-route-lectureId="@Model.Id">Create Exercise</a>
        </div>
        <div class="form-group col-sm-2">
            <a align="center" class="form-control btn-primary" asp-area="Learn" asp-controller="Lectures" asp-action="Edit" asp-route-lectureId="@Model.Id">Edit Lecture</a>
        </div>
    </div>
}
<div class="truncate-large center-items center-text">
    <h2 align="center" class="text-primary">@Model.Name</h2>
</div>
<hr />
<div class="row">
    @if (Model.CourseType != CourseType.Free && !isUserSubscribed && !this.User.IsInRole("Admin"))
    {
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 form-group">
            <h4 align="center" class="text-primary">You need to purchase the course to view this lecture</h4>
            <a align="center" class="form-control btn-primary" asp-area="Payment" asp-controller="Subscription" asp-action="PurchaseCourse" asp-route-id="@Model.CourseId">Purchase Course</a>
        </div>
    </div>
    }
    else
    {
        <div class="col-sm-3">
            <table class="table table-bordered table-hover">
                <thead class="bg-primary">
                    <tr>
                        <th>
                            <div class="truncate-large center-items">
                                <h5 align="center">Exercises</h5>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exercise in Model.Exercises)
                    {
                        <tr>
                            <td>
                                <div class="truncate center-items">
                                    <h5 class="truncate-text center-text" align="center"><a asp-area="Learn" asp-controller="Exercises" asp-action="Exercise" asp-route-id="@exercise.Id">@exercise.Name</a></h5>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-9">
            @if (!String.IsNullOrEmpty(Model.LectureVideoUrl))
            {
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.LectureVideoUrl" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <hr />
            }

            <h3 align="center" class="text-primary">Description:</h3>
            <div class="truncate-large-100 center-items center-text">
                <h4 align="center" class="text-primary">@Model.LectureTextExplnation</h4>
            </div>
        </div>
    }
</div>

