﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 align="center" class="text-primary">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <p align="center" class="text-primary">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p align="center" class="text-primary">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <div class="form-group">
                <button class="form-control btn-primary" type="submit">Download</button>
            </div>
        </form>
        <p>
            <div class="form-group">
                <a align="center" asp-page="DeletePersonalData" class="form-control btn-primary">Delete</a>
            </div>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}