﻿@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4 class="text-primary">@ViewData["Title"]</h4>

<h5>Under Construciton.</h5>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
